body.darkmode {
  color: #c6c6c6;
}

.darkmode #page-header a:hover, .darkmode #page-header a:focus {
  color: inherit;
  text-shadow: 0 0 7.5px rgba(255, 255, 255, 0.5);
}
.darkmode .bg1, .darkmode .bg2, .darkmode .bg3 {
  background: transparent !important;
}
.darkmode #topicreview {
  border-color: #292929 !important;
  background: #151515 !important;
}
.darkmode #topicreview .post {
  border-color: #0b0b0b;
}
.darkmode #topicreview .post p.author {
  border-color: #050505;
}
/* .darkmode #tabs .activetab > a, .darkmode #tabs .activetab > a:hover, .darkmode #minitabs .activetab > a, .darkmode #minitabs .activetab > a:hover, .darkmode #navigation #active-subsection a {
  color: #c6c6c6 !important;
} */
.darkmode .dropdown-extended .header, .darkmode .dropdown-extended .footer {
  background: #353535 !important;
  border-color: #1e1e1e !important;
}
.darkmode div.notification_list .dropdown-contents {
  border-color: #292929;
}
.darkmode .dropdown .dropdown-contents, .darkmode .dropdown-up .dropdown-contents, .darkmode #attach-panel, .darkmode .stat-block:not(.auth-box), .darkmode .forumbg, .darkmode .forabg, .darkmode #options-panel, .darkmode #poll-panel {
  background: #2f2f2f !important;
}
.darkmode .stat-block.auth-box form {
  background: #2f2f2f !important;
}
.darkmode .dropdown .pointer-inner {
  border-color: #2f2f2f transparent !important;
}
.darkmode .tooltip-inner {
  color: #c6c6c6;
  background: #020202;
}
.darkmode .tooltip.top .tooltip-arrow {
  border-top-color: #020202;
}
.darkmode .tooltip.top-left .tooltip-arrow {
  border-top-color: #020202;
}
.darkmode .tooltip.top-right .tooltip-arrow {
  border-top-color: #020202;
}
.darkmode .tooltip.right .tooltip-arrow {
  border-right-color: #020202;
}
.darkmode .tooltip.left .tooltip-arrow {
  border-left-color: #020202;
}
.darkmode .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #020202;
}
.darkmode .tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #020202;
}
.darkmode .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #020202;
}
.darkmode .tabs-mini .nav > li:not(.active) > a:hover {
  background: #292929 !important;
}
.darkmode #navbar-main.topbar .inner a.header-avatar:hover > span, .darkmode #navbar-main.topbar .inner a.header-avatar:focus > span {
  color: #c6c6c6 !important;
}
.darkmode #back2topMain {
  color: #444444 !important;
}
.darkmode #search-box.search-header {
  background: white !important;
}
.darkmode #search-box.search-header .inputbox, .darkmode #search-box.search-header #eles input#text_shoutbox, .darkmode #eles #search-box.search-header input#text_shoutbox {
  background: transparent !important;
  color: #c6c6c6 !important;
}
.darkmode #search-box.search-header .inputbox:hover, .darkmode #search-box.search-header #eles input#text_shoutbox:hover, .darkmode #eles #search-box.search-header input#text_shoutbox:hover {
  background: #171717 !important;
}
.darkmode #search-box.search-header a.button, .darkmode #search-box.search-header button.button {
  background: transparent !important;
  color: #777 !important;
}
.darkmode #search-box.search-header a.button:hover, .darkmode #search-box.search-header button.button:hover, .darkmode #search-box.search-header a.button:active, .darkmode #search-box.search-header button.button:active, .darkmode #search-box.search-header a.button:focus, .darkmode #search-box.search-header button.button:focus {
  color: #444 !important;
}
.darkmode .navbar.bottom {
  border-top-color: #292929 !important;
}
.darkmode li.header {
  box-shadow: none !important;
}
.darkmode li.row dl.icon:before {
  background: #353535 !important;
}
.darkmode #darken {
  background: black !important;
}
.darkmode html {
  background: #090909;
}
.darkmode html.js #preloader {
  background: #222222;
}
.darkmode body {
  color: #c6c6c6;
}
.darkmode ::selection {
  background: rgba(222, 193, 7, 0.85) !important;
  color: #222222 !important;
}
.darkmode ::-moz-selection {
  background: rgba(222, 193, 7, 0.85) !important;
  color: #222222 !important;
}
.darkmode h2.memberlist-title {
  border-bottom-color: #181818;
}
.darkmode hr {
  border-top-color: #181818;
}
.darkmode #wrap {
  background: #292929;
}
.darkmode #page-header {
  background: linear-gradient(110deg, #07d7de 0%, #a107de 100%);
  color: #ffffff;
}
.darkmode #page-header a {
  color: inherit;
}
.darkmode #page-body-wrapper.leftside, .darkmode #page-body-wrapper.rightside {
  border-color: #181818;
}
.darkmode #page-sidebar {
  border-color: #181818;
}
.darkmode #page-sidebar .widget-title::before {
  background: #f7d608;
}
.darkmode #page-sidebar .widget-title::after {
  background: #181818;
}
.darkmode #page-footer {
  background: #151515;
  color: #a0a0a0;
}
.darkmode #page-footer a {
  color: #a0a0a0;
}
.darkmode #page-footer a:hover, .darkmode #page-footer a:focus {
  color: #f7d608;
}
.darkmode #page-footer .dropdown a:hover, .darkmode #page-footer .dropdown a:focus {
  color: #dec107;
}
.darkmode .top-block {
  border-bottom-color: #181818;
}
.darkmode .bottom-block {
  border-top-color: #181818;
}
.darkmode #navbar-main.fixed {
  background: rgba(173, 150, 5, 0.975);
}
.darkmode .topbar .inner {
  color: #c6c6c6;
}
.darkmode .topbar .inner a.header-avatar:hover > span, .darkmode .topbar .inner a.header-avatar:focus > span {
  color: #222222 !important;
  text-shadow: none;
}
.darkmode .topbar .inner > ul > li > a:hover, .darkmode .topbar .inner > ul > li > a:focus {
  color: #222222;
  text-shadow: none;
}
.darkmode .topbar .dropdown a:hover {
  text-shadow: none !important;
  color: #dec107 !important;
}
.darkmode .endbar {
  background: #090909;
  color: #7a7a7a;
}
.darkmode .endbar a {
  color: inherit !important;
}
.darkmode .navbar.top .inner {
  background: #292929;
  border-color: #181818;
  color: #c6c6c6;
}
.darkmode .navbar.bottom .inner.container {
  background: #292929;
  border-color: #181818;
  color: #c6c6c6;
}
.darkmode .forabg, .darkmode .forumbg, .darkmode #options-panel, .darkmode #attach-panel, .darkmode #poll-panel {
  border-color: #181818;
  background: #222222;
}
.darkmode #confirm > .panel, .darkmode #message.panel {
  background: #222222;
}
.darkmode .post {
  border-color: #1e1e1e;
}
.darkmode .post .back2top a.top {
  color: #181818;
}
.darkmode #postingbox {
  border-color: #181818;
}
.darkmode #preview.post {
  border-color: #181818;
}
.darkmode ul.social-links li a {
  box-shadow: inset 0 0 0 1px rgba(247, 214, 8, 0.05);
  color: #a0a0a0;
}
.darkmode ul.social-links li a:hover, .darkmode ul.social-links li a:focus {
  box-shadow: inset 0 0 0 1px rgba(247, 214, 8, 0.5);
  color: #f7d608;
}
.darkmode .dropdown li.separator {
  border-top-color: #1e1e1e;
}
.darkmode .breadcrumbs .crumb:before {
  color: rgba(198, 198, 198, 0.25);
}
.bottom .darkmode .breadcrumbs .crumb:before {
  color: rgba(198, 198, 198, 0.25);
}
.darkmode .breadcrumbs .crumb a:hover, .darkmode .breadcrumbs .crumb a:focus {
  color: #f7d608;
}
.navbar.top .darkmode .breadcrumbs .crumb a:hover, .navbar.top .darkmode .breadcrumbs .crumb a:focus {
  box-shadow: 0 6px 0 0 #f7d608;
}
.darkmode .navbar.top .breadcrumbs .crumb:last-child a {
  box-shadow: 0 6px 0 0 #f7d608;
}
.darkmode table.table1 thead th {
  background: #2f2f2f;
}
.darkmode table.table1 tbody tr {
  border-color: #1e1e1e;
}
.darkmode table.table1 tbody tr:hover, .darkmode table.table1 tbody tr.hover {
  background: #272727;
}
.darkmode table.table1 tbody th {
  color: #c6c6c6;
  background: #222222;
}
.darkmode table.info tbody th {
  color: #c6c6c6;
}
.darkmode .action-bar.top {
  border-top-color: #181818;
}
.darkmode .action-bar.bottom {
  border-bottom-color: #181818;
}
.darkmode .pagination li a, .darkmode .pagination li span {
  background: #dec107;
  color: #444444;
}
.darkmode .pagination li a:hover {
  background: #f7d608;
}
.darkmode .pagination li.ellipsis span {
  color: #c6c6c6;
}
.darkmode .phpbb_alert {
  background: #222222;
  border-color: #292929;
}
.darkmode .phpbb_alert .alert_close {
  color: #c6c6c6;
}
.darkmode .phpbb_alert .alert_close:hover {
  color: darkred;
}
.darkmode p.post-notice {
  border-left-color: #dec107;
}
.darkmode .stats-blocks .col-block + .col-block {
  border-left-color: #1e1e1e;
}
.darkmode .stat-block:not(.auth-box), .darkmode .stat-block.auth-box form {
  background: #222222;
  border-color: #181818;
}
.darkmode .notification_list p.notification-time {
  color: #c5ac06;
}
.darkmode .profile-inner .col {
  border-top-color: #181818;
}
.darkmode .profile-inner .panel.bottom {
  border-bottom-color: #181818;
}
.darkmode a {
  color: #c6c6c6;
}
.darkmode a:hover, .darkmode a:focus, .darkmode a:active {
  color: #dec107;
}
.darkmode .postlink {
  color: #dec107;
}
.darkmode .postlink:hover {
  border-bottom-color: #181818;
}
li.row:hover .darkmode a.feed-icon-forum:hover {
  background: #dec107;
}
.darkmode ul.forums .time, .darkmode ul.topics .time {
  color: #a0a0a0;
}
.darkmode ul.topiclist li.row dt a.subforum.read:before, .darkmode ul.topiclist li.row dt a.subforum.unread:before {
  border-top-color: #181818;
}
.darkmode ul.topiclist li.row dt a.subforum.unread:before {
  border-color: #dec107;
}
.darkmode li.row {
  border-top-color: #1e1e1e;
}
.darkmode li.row:hover {
  background: #292929 !important;
}
.darkmode li.row strong.subforums-title {
  color: #ececec;
}
.darkmode li.row .subforums-wrapper {
  border-left-color: #181818;
}
.darkmode li.header {
  background: #dec107;
  color: #444444;
}
.darkmode dl.icon dt .list-inner .responsive-hide {
  color: #a0a0a0;
}
.darkmode .postbody h3 a {
  color: #c6c6c6;
}
.darkmode .postbody h3 a:hover, .darkmode .postbody h3 a:focus {
  color: #c6c6c6;
  border-bottom-color: #181818;
}
.darkmode .has-profile .postprofile:before, .darkmode .has-profile .postbody:after {
  border-left-color: #1e1e1e;
}
.darkmode #topicreview {
  border-color: #181818;
  background: #292929;
}
.darkmode .posthilit {
  background: #353535;
  color: #dec107;
}
.darkmode p.author {
  border-bottom-color: #1e1e1e;
  color: rgba(198, 198, 198, 0.8);
}
.darkmode .signature {
  border-top-color: #c6c6c6;
}
.darkmode .postbody .signature {
  color: #a0a0a0;
}
.darkmode .codebox {
  border-color: #181818;
  background: #2f2f2f;
}
.darkmode .attachbox {
  border-color: #181818;
  background: #2f2f2f;
}
.darkmode dl.file dd {
  color: #a0a0a0;
}
.darkmode dl.thumbnail img {
  background-color: #292929;
  border: 1px solid #161616;
}
.darkmode .attachbox dl.thumbnail dd {
  color: #a0a0a0;
}
.darkmode dl.thumbnail dt a:hover img {
  border-color: #dec107;
}
.darkmode fieldset.polls dd div {
  color: #444444;
}
.darkmode .vote-submitted {
  color: #a0a0a0;
}
.darkmode .postprofile .avatar.auto-avatar .img {
  background: #f7d608;
  color: white;
}
.darkmode .profile-meta {
  color: rgba(198, 198, 198, 0.8);
  transform: scaleY(1);
}
.darkmode .postbody .content::-webkit-scrollbar, .darkmode #topicreview::-webkit-scrollbar, .darkmode #post_details::-webkit-scrollbar, .darkmode .codebox code::-webkit-scrollbar, .darkmode .attachbox dd::-webkit-scrollbar, .darkmode .attach-image::-webkit-scrollbar, .darkmode .dropdown ul::-webkit-scrollbar, .darkmode #mchat-messages::-webkit-scrollbar, .darkmode #shoutbox_scroll::-webkit-scrollbar {
  background: transparent;
}
.darkmode .postbody .content::-webkit-scrollbar-thumb, .darkmode #topicreview::-webkit-scrollbar-thumb, .darkmode #post_details::-webkit-scrollbar-thumb, .darkmode .dropdown ul::-webkit-scrollbar-thumb, .darkmode .codebox code::-webkit-scrollbar-thumb, .darkmode .attachbox dd::-webkit-scrollbar-thumb, .darkmode .attach-image::-webkit-scrollbar-thumb, .darkmode #mchat-messages::-webkit-scrollbar-thumb, .darkmode #shoutbox_scroll::-webkit-scrollbar-thumb {
  background: rgba(41, 41, 41, 0.6);
}
.darkmode #back2topMain {
  background: #dec107;
  color: #222222;
}
.darkmode #back2topMain.active:hover {
  background: #f7d608;
}
.darkmode .contact-icons a {
  border-bottom-color: #1e1e1e;
  border-right-color: #1e1e1e;
}
.darkmode .post-buttons a.icon-button {
  background: transparent;
  color: #c6c6c6
}
.darkmode .post-buttons a.icon-button:hover, .darkmode .post-buttons a.icon-button:focus {
  background: #2f2f2f;
}
.darkmode .post-buttons a.icon-button:active {
  background: #2f2f2f;
}
.darkmode .section-ucp .panel, .darkmode .section-mcp .panel {
  border-color: #181818;
}
.darkmode ul.cplist {
  border-color: #181818;
}
.darkmode .panel-container table.table1 thead {
  border-color: #1e1e1e;
}
.darkmode fieldset.polls dl {
  border-top-color: #1e1e1e;
}
.darkmode #tabs .tab > a:hover {
  background: #464646;
}
/*
.darkmode #tabs .tab > a {
  background: #3d3d3d;
}
.darkmode #tabs .activetab > a, .darkmode #tabs .activetab > a:hover {
  background: #353535;
  color: #c6c6c6;
} */
.darkmode #minitabs .tab > a:hover {
  background: #353535;
}
.darkmode #minitabs .activetab > a, .darkmode #minitabs .activetab > a:hover {
  background: white;
  color: #444444;
}
.darkmode #navigation a {
  color: #c6c6c6;
}
.darkmode #navigation a:hover {
  background: #353535;
}
.darkmode #navigation a:hover:after {
  border-left-color: #353535;
}
.darkmode #navigation #active-subsection a {
  background: #011749;
  color: #444444;
}
.darkmode #navigation #active-subsection a:after {
  border-left-color: white;
}
.darkmode input[type="text"], .darkmode .inputbox, .darkmode #eles input#text_shoutbox {
  border-color: #181818;
  background: #1d1d1d;
}
.darkmode input[type="text"]:hover, .darkmode .inputbox:hover, .darkmode #eles input#text_shoutbox:hover {
  background: #151515;
}
.darkmode input[type="checkbox"]:before, .darkmode input[type="radio"]:before, .darkmode .input-view:before {
  border-color: #181818;
}
.darkmode input[type="radio"]:before, .darkmode .input-view.type-radio:before {
  color: #1d1d1d;
  background: #1d1d1d;
}
.darkmode input[type="radio"]:checked::before, .darkmode .input-view.type-radio:checked::before, .darkmode input[type="radio"]:checked + .input-view::before, .darkmode .input-view.type-radio:checked + .input-view::before {
  background: #dec107;
}
.darkmode input[type="radio"]:checked:hover::before, .darkmode label:hover input[type="radio"]:checked + .input-view::before, .darkmode .input-view.type-radio:checked:hover::before, .darkmode label:hover .input-view.type-radio:before:checked, .darkmode input[type="radio"]:checked + .input-view:hover::before, .darkmode .input-view.type-radio:checked + .input-view:hover::before {
  background: #f7d608;
}
.darkmode input[type="radio"]:hover::before, .darkmode .input-view.type-radio:hover::before, .darkmode label:hover .input-view.type-radio:before {
  background: #f7d608;
  border-color: #dec107;
}
.darkmode input[type="checkbox"]:checked::before, .darkmode .input-view.type-checkbox:checked::before, .darkmode input[type="checkbox"]:checked + .input-view::before, .darkmode .input-view.type-checkbox:checked + .input-view::before {
  color: #dec107;
}
.darkmode input[type="checkbox"]:hover::before, .darkmode .input-view.type-checkbox:hover::before, .darkmode label:hover .input-view.type-checkbox::before {
  color: #f7d608;
  border-color: #f7d608;
}
.darkmode input[type="checkbox"]:checked:focus::before, .darkmode label:hover input[type="checkbox"]:checked + .input-view::before, .darkmode .input-view.type-checkbox:checked:focus::before, .darkmode input[type="checkbox"]:checked + .input-view:focus::before, .darkmode .input-view.type-checkbox:checked + .input-view:focus::before {
  color: #181818;
  border-color: #181818;
}
.darkmode input[type="checkbox"]:focus::before, .darkmode .input-view.type-checkbox:focus::before {
  color: transparent;
}
.darkmode input[type="checkbox"]:active::before, .darkmode .input-view.type-checkbox:active::before {
  color: #181818 !important;
  border-color: #181818;
}
.darkmode label[for]:hover {
  color: #dec107;
}
.darkmode select {
  border-color: #181818;
  background: #1d1d1d;
}
.darkmode select:hover, .darkmode select:focus {
  color: #c6c6c6;
  border-color: #181818;
}
.darkmode select:hover {
  background: #151515;
}
.darkmode label[for^="icon-"] input:before {
  color: #dec107;
}
.darkmode label[for^="icon-"] input:checked::before, .darkmode label[for^="icon-"] input:hover::before, .darkmode label[for^="icon-"] input:checked:hover::before {
  background: #1d1d1d;
}
.darkmode label[for^="icon-"]:hover input:before {
  background: #151515;
}
.darkmode fieldset.display-options {
  color: #a0a0a0;
}
.darkmode fieldset.display-options select {
  background: #222222;
}
.darkmode fieldset.display-options select:hover, .darkmode fieldset.display-options select:focus {
  color: #c6c6c6;
}
.darkmode fieldset.display-options label.go:hover {
  color: #c6c6c6;
}
.darkmode #format-buttons input[type="button"]:hover, .darkmode #format-buttons input[type="button"]:focus {
  background: #151515;
  color: #dec107;
}
.darkmode .inputbox:hover, .darkmode #eles input#text_shoutbox:hover, .darkmode .inputbox:focus, .darkmode #eles input#text_shoutbox:focus {
  border-color: #181818;
}
.darkmode textarea.inputbox {
  background: #151515;
}
.darkmode textarea.inputbox:hover, .darkmode textarea.inputbox:focus {
  background: #1d1d1d;
}
.darkmode #qr_postform {
  background: #292929;
  border-bottom-color: #181818;
}
.darkmode #qr_postform textarea.inputbox {
  background: #1d1d1d;
}
.darkmode #qr_postform textarea.inputbox:hover {
  background: #151515;
}
.darkmode .button, .darkmode a.button, .darkmode input.button1 {
  background-color: #dec107;
  color: #444444;
}
.darkmode .button:hover, .darkmode a.button:hover, .darkmode input.button1:hover {
  background-color: #f7d608;
}
.darkmode .button:focus, .darkmode a.button:focus, .darkmode input.button1:focus, .darkmode .button:active, .darkmode a.button:active, .darkmode input.button1:active {
  background: #c5ac06;
}
.darkmode a.button2, .darkmode input.button2 {
  background: #dec107;
}
.darkmode a.button2:hover, .darkmode input.button2:hover {
  background: #f7d608;
}
.darkmode a.button2:focus, .darkmode input.button2:focus, .darkmode a.button2:active, .darkmode input.button2:active {
  background: #c5ac06;
}
.darkmode input.disabled {
  color: #a0a0a0;
}
.darkmode .dropdown-select:after {
  border-left-color: rgba(34, 34, 34, 0.3);
}
.darkmode .search-box .button {
  background: #1d1d1d;
  color: #c6c6c6;
  border-color: #181818;
}
.darkmode .search-box .button:hover {
  background: #1d1d1d;
}
.darkmode .search-header {
  background: #222222;
}
.darkmode .search-header .inputbox, .darkmode .search-header #eles input#text_shoutbox, .darkmode #eles .search-header input#text_shoutbox {
  color: #c6c6c6;
}
.darkmode .search-header a.button, .darkmode .search-header button.button {
  color: #a0a0a0 !important;
}
.darkmode .search-header a.button:hover, .darkmode .search-header button.button:hover, .darkmode .search-header a.button:active, .darkmode .search-header button.button:active, .darkmode .search-header a.button:focus, .darkmode .search-header button.button:focus {
  color: #c6c6c6 !important;
}
.darkmode .post:target h3 a {
  color: #dec107;
}
.darkmode .bg1 {
  background: #222222;
}
.darkmode .bg2 {
  background: #222222;
}
.darkmode .bg3 {
  background: #222222;
}
.darkmode table.zebra-list tr:nth-child(odd) td, .darkmode ul.zebra-list li:nth-child(odd) {
  background: #222222;
}
.darkmode table.zebra-list tr:nth-child(even) td, .darkmode ul.zebra-list li:nth-child(even) {
  background: #2f2f2f;
}
.darkmode .ucprowbg {
  background: #2f2f2f;
}
.darkmode .fieldsbg {
  background: #2f2f2f;
}
.darkmode .sep {
  color: #dec107;
}
.darkmode .pagination li.active span {
  background: #f7d608;
}
.darkmode th a {
  color: #444444;
}
.darkmode th a:hover {
  color: #444444;
}
.darkmode li.header dt a, .darkmode li.header dd a {
  color: #444444;
}
.darkmode li.header dt a:hover, .darkmode li.header dd a:hover, .darkmode li.header dt a:focus, .darkmode li.header dd a:focus {
  color: #444444;
}
.darkmode .notice {
  border-top-color: #181818;
}
.darkmode blockquote {
  background: #272727;
  border-color: #181818;
}
.darkmode blockquote:before {
  color: rgba(160, 160, 160, 0.15);
}
.darkmode blockquote cite {
  border-bottom-color: #181818;
}
.darkmode blockquote blockquote {
  background: #2f2f2f;
}
.darkmode blockquote blockquote blockquote {
  background: #353535;
}
.darkmode .syntaxbg {
  color: #222222;
}
.darkmode .syntaxhtml {
  color: #ececec;
}
.darkmode .pm-message .attachbox {
  background: #292929;
}
.darkmode .attachbox p.stats {
  color: #a0a0a0;
}
.darkmode .attach-image img {
  border-color: #292929;
}
.darkmode .pollbar1 {
  background: #948105;
}
.darkmode .pollbar2 {
  background: #ad9605;
}
.darkmode .pollbar3 {
  background: #c5ac06;
}
.darkmode .pollbar4 {
  background: #dec107;
}
.darkmode .pollbar5 {
  background: #f7d608;
}
.darkmode .pm .postprofile {
  border-color: #181818;
}
.darkmode dd.profile-warnings {
  color: #dec107;
}
.darkmode .panel-container h3 {
  border-top-color: #1e1e1e;
}
.darkmode .panel-container .panel li.row {
  border-bottom-color: #1e1e1e;
}
.darkmode #cp-main .pm-message {
  border-color: #1e1e1e;
}
.darkmode #cp-main .post.pm {
  border-color: #1e1e1e;
}
@media (max-width: 992px) {
  .darkmode #navigation a, .darkmode .rtl #navigation a {
    background: #2f2f2f;
  }
}
.darkmode .pmlist li.pm_message_reported_colour, .darkmode .pm_message_reported_colour {
  border-left-color: #dec107;
  border-right-color: #dec107;
}
.darkmode .pmlist li.pm_marked_colour, .darkmode .pm_marked_colour {
  border-color: tomato;
}
.darkmode .pmlist li.pm_replied_colour, .darkmode .pm_replied_colour {
  border-color: #1e1e1e;
}
.darkmode .pmlist li.pm_friend_colour, .darkmode .pm_friend_colour {
  border-color: #dec107;
}
.darkmode .pmlist li.pm_foe_colour, .darkmode .pm_foe_colour {
  border-color: #dec107;
}
.darkmode #gallery label {
  background: #222222;
  border-color: #181818;
}
.darkmode #gallery label:hover {
  background: #353535;
}
.darkmode #message-box textarea.drag-n-drop {
  outline-color: rgba(41, 41, 41, 0.5);
}
.darkmode #message-box textarea.drag-n-drop-highlight {
  outline-color: rgba(222, 193, 7, 0.5);
}
.darkmode .inputbox:-moz-placeholder, .darkmode #eles input#text_shoutbox:-moz-placeholder {
  color: #a0a0a0;
}
.darkmode .inputbox::-webkit-input-placeholder, .darkmode #eles input#text_shoutbox::-webkit-input-placeholder {
  color: #a0a0a0;
}
.darkmode #darken {
  background: #ececec;
}
.darkmode .dropdown-extended ul li {
  border-top-color: #181818;
}
.darkmode .dropdown-extended .header, .darkmode .dropdown-extended .footer {
  background: #292929;
  border-color: #181818;
}
.darkmode .dropdown .pointer-inner {
  border-color: #222222 transparent;
}
.darkmode .dropdown-extended .pointer-inner {
  border-color: #222222 transparent;
}
.darkmode .dropdown .dropdown-contents, .darkmode .dropdown-up .dropdown-contents {
  background: #222222;
  color: #c6c6c6;
}
.darkmode dl.icon:before {
  background: #2f2f2f;
  color: #c6c6c6;
}
.darkmode dl.icon.topic_read_hot:before, .darkmode dl.icon.topic_read_hot_mine:before {
  color: #f7d608;
}
.darkmode dl.icon.topic_unread_hot:before, .darkmode dl.icon.topic_unread_hot_mine:before {
  color: #dec107;
}
.darkmode dl.icon.announce_read:before, .darkmode dl.icon.announce_read_locked:before {
  color: #f7d608;
}
.darkmode .imageset.forum_link:before {
  color: #a0a0a0;
}
.darkmode .imageset.forum_read:before {
  color: #a0a0a0;
}
.darkmode .imageset.forum_read_locked:before {
  color: #a0a0a0;
}
.darkmode .imageset.forum_read_subforum:before {
  color: #a0a0a0;
}
.darkmode .imageset.forum_unread:before {
  color: #dec107;
}
.darkmode .imageset.forum_unread_locked:before {
  color: #dec107;
}
.darkmode .imageset.forum_unread_subforum:before {
  color: #dec107;
}
.darkmode .imageset.topic_moved:before {
  color: #a0a0a0;
}
.darkmode .imageset.topic_read:before {
  color: #a0a0a0;
}
.darkmode .imageset.topic_read_mine:before {
  color: #a0a0a0;
}
.darkmode .imageset.topic_read_hot:before {
  color: #f7d608;
}
.darkmode .imageset.topic_read_hot_mine:before {
  color: #f7d608;
}
.darkmode .imageset.topic_read_locked:before {
  color: #a0a0a0;
}
.darkmode .imageset.topic_read_locked_mine:before {
  color: #a0a0a0;
}
.darkmode .imageset.topic_unread:before {
  color: #dec107;
}
.darkmode .imageset.topic_unread_mine:before {
  color: #dec107;
}
.darkmode .imageset.topic_unread_hot:before {
  color: #dec107;
}
.darkmode .imageset.topic_unread_hot_mine:before {
  color: #dec107;
}
.darkmode .imageset.topic_unread_locked:before {
  color: #dec107;
}
.darkmode .imageset.topic_unread_locked_mine:before {
  color: #dec107;
}
.darkmode .imageset.sticky_read:before {
  color: #a0a0a0;
}
.darkmode .imageset.sticky_read_mine:before {
  color: #a0a0a0;
}
.darkmode .imageset.sticky_read_locked:before {
  color: #a0a0a0;
}
.darkmode .imageset.sticky_read_locked_mine:before {
  color: #a0a0a0;
}
.darkmode .imageset.sticky_unread:before {
  color: #dec107;
}
.darkmode .imageset.sticky_unread_mine:before {
  color: #dec107;
}
.darkmode .imageset.sticky_unread_locked:before {
  color: #dec107;
}
.darkmode .imageset.sticky_unread_locked_mine:before {
  color: #dec107;
}
.darkmode .imageset.announce_read:before {
  color: #f7d608;
}
.darkmode .imageset.announce_read_mine:before {
  color: #f7d608;
}
.darkmode .imageset.announce_read_locked:before {
  color: #f7d608;
}
.darkmode .imageset.announce_read_locked_mine:before {
  color: #f7d608;
}
.darkmode .imageset.announce_unread:before {
  color: #dec107;
}
.darkmode .imageset.announce_unread_mine:before {
  color: #dec107;
}
.darkmode .imageset.announce_unread_locked:before {
  color: #dec107;
}
.darkmode .imageset.announce_unread_locked_mine:before {
  color: #dec107;
}
.darkmode .imageset.global_read:before {
  color: #f7d608;
}
.darkmode .imageset.global_read_mine:before {
  color: #f7d608;
}
.darkmode .imageset.global_read_locked:before {
  color: #f7d608;
}
.darkmode .imageset.global_read_locked_mine:before {
  color: #f7d608;
}
.darkmode .imageset.global_unread:before {
  color: #dec107;
}
.darkmode .imageset.global_unread_mine:before {
  color: #dec107;
}
.darkmode .imageset.global_unread_locked:before {
  color: #dec107;
}
.darkmode .imageset.global_unread_locked_mine:before {
  color: #dec107;
}
.darkmode .imageset.subforum_read:before {
  color: #a0a0a0;
}
.darkmode .imageset.subforum_unread:before {
  color: #dec107;
}
.darkmode .imageset.pm_read:before {
  color: #a0a0a0;
}
.darkmode .imageset.pm_unread:before {
  color: #dec107;
}
.darkmode .imageset.icon_post_target:before {
  color: rgba(198, 198, 198, 0.5);
}
a:hover .darkmode .imageset.icon_post_target:before, a:focus .darkmode .imageset.icon_post_target:before, a:active .darkmode .imageset.icon_post_target:before {
  color: #a0a0a0;
}
.darkmode .file-progress-bar, .darkmode #file-total-progress-bar {
  background: #dec107;
}
.darkmode .widget-infotabs .nav > li > a {
  border-bottom-color: #181818;
}
.darkmode .widget-infotabs .nav > li > a:hover {
  border-color: #1e1e1e #1e1e1e #181818;
  background-color: #1e1e1e;
}
.darkmode .widget-infotabs .nav > li > a:focus {
  border-color: #181818 #181818 transparent !important;
}
.darkmode .widget-infotabs .nav-tabs {
  border-bottom-color: #181818;
}
.darkmode .widget-infotabs .nav-tabs > li.active > a {
  color: #c6c6c6;
  border-color: #181818 #181818 transparent #181818;
}
.darkmode .widget-infotabs .nav-tabs > li.active > a:hover {
  border-color: #181818 #181818 transparent !important;
}
.darkmode #eles #phpbb_announcement {
  background-color: #dec107;
  color: #444444;
}
.darkmode #eles .aboutus .content {
  border-top-color: #181818;
  border-bottom-color: #181818;
}
.darkmode #eles #boardrules-categories .mini-panel {
  border-left-color: #181818;
}
.darkmode #eles #rules .rule-item + li {
  border-top-color: #181818;
}
.darkmode #eles #rules .highlight {
  background-color: #222222;
  border-color: #181818;
  border-left-color: #dec107;
}
.darkmode #eles #abbc3_buttons select {
  border-color: #181818;
  background: #1d1d1d !important;
}
.darkmode #eles #abbc3_buttons select:hover, .darkmode #eles #abbc3_buttons select:focus {
  color: #c6c6c6;
  border-color: #181818;
}
.darkmode #eles #abbc3_buttons select:hover {
  background: #151515;
}
.darkmode #eles #abbc3_buttons .abbc3_button:hover {
  border-color: #181818;
  background-color: #1d1d1d;
}
.darkmode #eles #bbcode_wizard {
  background: #222222;
  border-color: #181818;
}
.darkmode #eles #bbcode_wizard hr {
  border-top-color: #1e1e1e;
}
.darkmode #eles #bbcode_wizard fieldset.submit-buttons {
  border-top-color: #181818;
}
.darkmode #eles .postlove {
  border-color: #181818;
  background-color: #292929;
}
.darkmode #eles #topic_preview {
  border-color: #181818;
}
.darkmode #eles #topic_preview:before {
  border-top-color: #181818;
  border-right-color: #181818;
}
.darkmode #eles #quick-login-panel {
  background: #222222;
}
.darkmode #eles #mchat-panel {
  border-top-color: #181818;
}
.darkmode #eles #mchat-panel #mchat-add {
  background-color: #dec107;
}
.darkmode #eles #mchat-panel #mchat-status {
  border-top-color: #181818;
}
.darkmode #eles #medals-container {
  border-top-color: #181818;
  border-bottom-color: #181818;
}
.darkmode #eles #submit_shoutbox {
  background-color: #dec107;
}
.darkmode #eles ul.ajaxshoutboxpost li.row {
  border-bottom-color: #181818;
}
@media (max-width: 768px) {
  .darkmode #page-sidebar {
    border-top-color: #181818;
  }
  .darkmode #page-sidebar .widget {
    border-color: #181818;
  }
  .darkmode #eles #boardrules-categories .mini-panel {
    border-bottom-color: #181818;
  }
}
.darkmode .ripple {
  background: #222222 !important;
}

/* Table */
.darkmode .post table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.darkmode .post td, .darkmode .post th {
  border: 1px solid #1a73e8;
  padding: 8px;
  text-align: center;
}

.darkmode .post tr:nth-child(even){background-color: #161616;}

.darkmode .post tr:hover {background-color: #121212;}

.darkmode .post th {
  background-color: #0a53b2;
  color: white;
}

/* Reactions panel */

.darkmode .reaction_inner {
  background-color: #292929 !important;
}

/* Thumbnail */

.darkmode dl.thumbnail {
  background-color: #292929;
  border: 1px solid #161616;
}

/* Code */

.darkmode code {
  background-color: #171717 !important;
  color: #c6c6c6 !important;
  padding: .1em !important;
  margin: 0px;
  border: 1px solid #ccc;
}

.darkmode .codebox code {
  color: #c6c6c6;
  background-color: #222222;
  filter: hue-rotate(42deg) saturate(4);
  margin: 0px;
  border: 0px;
}

/* Search box */

.darkmode fieldset {
  background-color: #2f2f2f;
}

/* ACP */

.darkmode #acp fieldset {
  background-color: #ffffff;
}

.darkmode #page-header h1 {
  color: #ffffff;
}

.darkmode #acp, .darkmode #acp a {
  color: #4A5A73;
}

.darkmode #acp input, .darkmode #acp select {
  background-color: #ededed;
}
